li{
    list-style: none;
    padding: 5px;
}

article{
	display: block;
    border: solid grey 1px;
    border-radius: 10px;
    margin: 10px;
    width:45%;
    margin-left: auto;
    margin-right: auto;
}
article * {
	margin: 5px;
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}