<article>
<input ng-model="name" type="text"/>
<br>
<input ng-model="author" type="text"/>
<br>
<input ng-model="lifeTime" type="text"/>
<br>
<button ng-click="addMix(name,author,lifeTime);go('#')">add mix</button>
<a href="#">back</a>
</article>
