<article>
    <ul>
        <li><span>Mix name:</span> {{mix.name}}</li>
        <li><span>Mix author:</span> {{mix.author}}</li>
        <li><span>Mix lifeTime</span> {{mix.lifeTime}}</li>
    </ul>
    <div>
        <a href="#addMix" >add Mix</a>
        <button ng-click="removeMix(mix.id);go('#')">remove Mix</button>
        <button id="show" ng-click='dialog(mix.id);'>modify</button>
        <a href="#">back</a>
    </div>

</article>

<div id="dialog" title="Basic dialog">
 <form>

<input ng-model="name" placeholder='name' type="text"/>
<br>
 <input ng-model="author" placeholder='author' type="text"/>
<br>
<input ng-model="lifeTime" placeholder='lifeTime' type="text"/>
<br>
<button ng-click="modifyMix(author,name,lifeTime,id);">modify mix</button>
</form>
</div>


<script type="text/javascript">
  $(function() {
    $('#dialog').hide();    
  });
  </script>